{# templates/cart/index.html.twig #}

{% include 'header.html.twig' %}

{% block title %}Your Shopping Cart{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1> </h1>

        {% if carts is empty %}
            <p>Your cart is empty.</p>
        {% else %}

            <tbody>
                    {% for cart in carts %}
                <section class="h-100 h-custom" style="background-color: #d2c9ff;">
                    <div class="container py-5 h-100" >
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12">
                                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-lg-8">
                                                <div class="p-5">
                                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart - {{ user.username }}</h1>
                                                        <h6 class="mb-0 text-muted"></h6>
                                                    </div>
                                                <form method="POST"> 
                                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <h class="col-md-2 col-lg-2 col-xl-2">Cart ID</h>  
                                                <h class="col-md-3 col-lg-3 col-xl-3">Cart ID</h>
                                                <h class="col-md-3 col-lg-3 col-xl-2 d-flex">Cart ID</h> 
                                                </div>                                                      
                                                    <hr class="my-4">                                                   
                                                <div class="row mb-4 d-flex justify-content-between align-items-center">                                              
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                    {# <img src="{{asset('uploads/'~cart.image)}}" class="img-fluid" alt=""> #}
                                                    <h>{{cart.id}}</h>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">               
                                                        <h>{{ cart.ctoyid.tname }}</h>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                        <h>{{ cart.cquantity }}</h>                  
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      {# <h6 class="mb-0">{{cart.price}}<span>&#8363;</span></h6> #}
                                                    </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <form action="{{ path('app_cart_delete', {'id': cart.id}) }}" method="post" style="display: inline;">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                                </div>
                                            </div>
                                                <hr class="my-4">
                                        </form>
                                        <div class="pt-5">
                                            <h6 class="mb-0"><a href="http://127.0.0.1:8000/shop/" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-4">
                                        <h6 class="text-uppercase"> item(s)</h6>
                                     </div>
                                    <hr class="my-4">
                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                    data-mdb-ripple-color="dark">BUY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                    {% endfor %}
            </tbody>
        {% endif %}
{% endblock %}
{% include 'footer.html.twig' %}