{% extends 'base.html.twig' %}

{% block title %}Cart Details{% endblock %}

{% block body %}
    <h1>Cart Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cart.cquantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cart_index') }}">Back to List</a>
    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">Edit</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
