{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn btn-primary ms-2">{{ button_label|default('Save') }}</button>
    <a class="btn btn-primary ms-2" role="button" href="{{ path('app_category_index') }}">Back to list</a>
{{ form_end(form) }}
