{# templates/shop/toy_details.html.twig #}

{% include 'header.html.twig' %}



{% block body %}
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">


        
        <p>Description: {{ toy.tdesc }}</p>
        <img src="{{ asset('uploads/'~toy.image) }}" width="500" height="500" alt="Product Image"> <br>
        <p>Price: ${{ toy.price }}</p>
        
        {# Add more details as needed #}

        <div class="row gy-4">


          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ asset('uploads/'~toy.image) }}" width="500" height="500" alt="Product Image">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Name</strong>: {{ toy.tname }}</li>
                <li><strong>Price</strong>: {{ toy.price }}</li>               
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Description</h2>
              <p>
                {{ toy.tdesc }}
              </p>
            </div>
          </div>

        </div>

      </div>
{% endblock %}
